# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties
maven-eclipse.xml
.mvn/maven.config
.mvn/jvm.config

# Maven Wrapper
.mvn/wrapper/*.jar

# App
_*.sh
*.local
*.localz
es.properties
es-local.properties
es.properties.backup
*.zip
*.versionsBackup
*.log
*.db
mqjms.log*
.externalToolBuilders
dep.txt
/docs/asciidoc/index.html
.eslint-loader-cache
.flattened*
*.patch
/logback.xml
.temp*.txt
/logs/
.env
app.properties
app-local.properties
