name: "Bygg og deploy"
on:
  push:
    branches:
      - '**'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.gitignore'
      - '.editorconfig'
      - '.gitattributes'
      - 'LICENSE'
      - 'CODEOWNERS'
      - 'docs/**'
      - '.oracle/**'
      - '.github/*.yml'

jobs:
  build-app:
    name: Build
    permissions:
      contents: read
      packages: write
      id-token: write
      pull-requests: read
    uses: navikt/fp-gha-workflows/.github/workflows/build-app-no-db.yml@main
    with:
      build-image: ${{ github.ref_name == 'master' }} # default: true
      push-image: ${{ github.ref_name == 'master' }} # default: false
    secrets: inherit

  kalkulus-tester:
    name: Kalkulus verdikjedetester
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-autotest/.github/workflows/autotest.yml@master
    with:
      build-version: ${{ needs.build-app.outputs.build-version }}
      test-suite: fpkalkulus
    secrets: inherit

  fpsak-tester:
    name: Fpsak tester
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-autotest/.github/workflows/autotest.yml@master
    with:
      build-version: ${{ needs.build-app.outputs.build-version }}
      test-suite: fpsak
    secrets: inherit

  verdikjede-tester:
    name: Verdikjedetester
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: build-app
    uses: navikt/fp-autotest/.github/workflows/autotest.yml@master
    with:
      build-version: ${{ needs.build-app.outputs.build-version }}
      test-suite: verdikjede
    secrets: inherit

  notify:
    name: Notify
    if: github.ref_name == 'master' && (success() || failure()) && !contains(needs.*.result, 'skipped')
    needs: [build-app, kalkulus-tester, fpsak-tester, verdikjede-tester]
    uses: navikt/fp-autotest/.github/workflows/report-and-notify.yml@master
    with:
      fpkalkulus: ${{ needs.kalkulus-tester.outputs.resultat }}
      fpsak: ${{ needs.fpsak-tester.outputs.resultat }}
      verdikjede: ${{ needs.verdikjede-tester.outputs.resultat }}
      build-version: ${{ needs.build-app.outputs.build-version }}
    secrets: inherit

  deploy-dev:
    name: Deploy dev
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: [build-app, kalkulus-tester, verdikjede-tester]
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: dev-fss
    secrets: inherit

  deploy-prod:
    name: Deploy prod
    permissions:
      contents: read
      id-token: write
    if: github.ref_name == 'master'
    needs: [build-app, kalkulus-tester, verdikjede-tester, deploy-dev]
    uses: navikt/fp-gha-workflows/.github/workflows/deploy.yml@main
    with:
      gar: true
      image: ${{ needs.build-app.outputs.build-version }}
      cluster: prod-fss
    secrets: inherit
